#contenedor-medicion-subjetiva {
  padding: 32px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-iconos-estado-animo {
  margin: 16px;
  display: flex;
  justify-content: center;
  width: 400px;
  flex-wrap: wrap;
}

.contenedor-iconos-estado-animo svg {
  cursor: pointer;
}

.boton-estado-animo {
  flex-basis: 100px;
  margin-bottom: 32px;
  background-color: transparent;
  transform: scale(1.2);
  opacity: 0;
  animation: aparece-carita .5s ease-in-out forwards;
}

@keyframes aparece-carita {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.boton-estado-animo:nth-child(1) {
  animation-delay: 0s;
}

.boton-estado-animo:nth-child(2) {
  animation-delay: .2s;
}

.boton-estado-animo:nth-child(3) {
  animation-delay: .4s;
}

.boton-estado-animo:nth-child(4) {
  animation-delay: .6s;
}

.boton-estado-animo:nth-child(5) {
  animation-delay: .8s;
}

div[class^="contenedor-estado-animo"] p {
  margin-top: 8px;
  font-family: 'Arimo';
  font-size: 1em;
}

.contenedor-estado-animo-seleccionado {
  color: white;
  font-weight: bold;
}