body {
  background: #1D1F2A;
  color: #E5E1E6;
}

* {
  box-sizing: border-box;
}

button {
  height: 32px;
  border-radius: 16px;
  padding: 0px 16px;
  border: none;
  cursor: pointer;
  outline: none;
}