body {
  color: #E5E1E6;
  background: gray;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Vegan Style Personal Use';
  src: url('../../assets/VeganStylePersonalUse.woff2') format('woff2'),
      url('../../assets/VeganStylePersonalUse.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

button {
  border-radius: 32px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 1em;
}

button:focus {
  outline: none;
}

#contenedor-app {
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.boton-volver {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #E5E1E6;
  background-color: #1D1F2A;
}