body {
  color: #E5E1E6;
  background: gray;
}

* {
  box-sizing: border-box;
}

button {
  height: 32px;
  border-radius: 16px;
  padding: 0px 16px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}

#contenedor-app {
  background: #1D1F2A;
  height: 731px;
  width: 411px;
}