#contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contenedor-principal > h1 {
  font-family: "Vegan Style Personal Use";
  font-size: 3em;
  margin: 56px 0;
}

#contenedor-principal button {
  margin-top: 10px;
}

.latido {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-top: 10px;
  animation: prueba 2s ease-in-out infinite;
}

.boton-meditar {
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: 2px solid white;
  font-size: 2em;
  margin-bottom: 56px;
  width: 150px;
  height: 150px;
  border-radius: 75px 75px;
  z-index: 2;
}

@keyframes prueba {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.contenido-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}